:root {
    --background-color: #ece2d0;
    --text-color: #ff784f;
    --p-color: #333533;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

#threeCanvas {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

#threeCanvas.loaded {
    opacity: 1;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    width: auto;
    padding: 20px;
    border-radius: 8px;
}

.loading-spinner {
    border: 4px solid var(--background-color);
    border-top: 4px solid var(--text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
}

.loading-progress {
    font-family: Arial, sans-serif;
    color: var(--p-color);
    font-size: 0.9rem;
    margin-top: 10px;
}

.error-message {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: #ff5252;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
    max-width: 80%;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    height: 100%;
}

.left,
.right {
    flex: 1;
    overflow: hidden;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#threeCanvas {
    width: 100%;
    height: 100%;
}

.right {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 1rem;
    color: var(--text-color);
}

.right p {
    color: var(--p-color);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.hamburger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

.nav-menu {
    position: fixed;
    right: -150px;
    top: 50px;
    width: 150px;
    transition: 0.3s;
    padding: 2rem 1rem;
    opacity: 0;
    pointer-events: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-menu.active {
    right: 0;
    opacity: 1;
    pointer-events: auto;
}

.nav-item {
    margin: 1rem 0;
}

.nav-link {
    color: var(--p-color);
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    color: var(--text-color);
    font-weight: bold;
}


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--p-color);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--p-color);
}

#stats {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

@media (max-width: 768px) {
    #loading-indicator,
        .error-message {
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            max-width: 300px;
        }

    .container {
        flex-direction: column;
    }

    .right {
        justify-content: flex-start;
        padding: 0.5rem 2rem;
    }

    .left,
    .right {
        flex: none;
        height: 50vh;
    }
}
