:root {
 --background-color: #191308;
 --forground-color: #efdd8d;
 --alt-color: #ffffff;
 --font-logo: 'Teko-Bold',sans-serif;
 --font-body: 'RX100', sans-serif;
}

@font-face {
    font-family: 'Teko-Bold';
    src: url('/fonts/Teko-Bold.woff2') format('woff2'),
        url('/fonts/Teko-Bold.woff') format('woff'),
        url('/fonts/Teko-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'RX100';
    src: url('/fonts/RX100-Regular.woff2') format('woff2'),
        url('/fonts/RX100-Regular.woff') format('woff'),
        url('/fonts/RX100-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    box-sizing: border-box;
}

/* Mobile-first CSS */
header {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    /* Adjust space between canvas and text */
}

.logo {
    font-family:var(--font-logo);
    font-weight: 700;
    font-style: normal;
    margin: 0;
    color: var(--forground-color);
    /* Remove default heading margin */
}

#three-canvas {
    width: 150px;
    /* Adjust size as needed */
    height: 150px;
    display: block;
    /* Prevent any inline spacing issues */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--forground-color);
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-body);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    font-family: var(--font-body);
}

form label {
    font-weight: bold;
    color: var(--forground-color);
}

form input,
form textarea {
    border-color: var(--forground-color);
}

form input,
form textarea,
form button {
    padding: 0.5rem;
    font-size: 1rem;
}

form button {
    margin: 1rem 0;
    background-color:var(--forground-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--alt-color);
    color: var(--forground-color);
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

@keyframes flicker {
  0%, 100% { 
    opacity: 0.9;
  }
  50% { 
    opacity: 0.8;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 
      0.5px 0 0.5px rgba(0,30,255,0.3),
      -0.5px 0 0.5px rgba(255,0,80,0.3),
      0 0 3px rgba(255,255,255,0.4);
  }
  100% {
    text-shadow:
      1px 0 0.5px rgba(0,30,255,0.3),
      -1px 0 0.5px rgba(255,0,80,0.3),
      0 0 4px rgba(255,255,255,0.4);
  }
}

.crt {
  /* position: relative; */
  color: #fff;
  text-shadow: 0 0 2px rgba(255,255,255,0.4);
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.1) 50%
  );
  background-size: 100% 3px;
  z-index: 2;
  pointer-events: none;
  opacity: 0.15;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.05);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.3s infinite;
}


/* Desktop styles (768px and above) */
@media screen and (min-width: 768px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        padding: 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    nav ul {
        padding: 1rem 0;
    }

    nav ul li a {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        transition: color 0.3s ease;
    }

    nav ul li a:hover {
        color: var(--alt-color);
    }

    main {
        grid-template-columns: repeat(12, 1fr);
        padding: 2rem;
    }

    form {
        grid-column: 4 / 10;
        background-color: var(--background-color);
        padding: 2rem;
    }

    form input,
    form textarea {
        padding: 0.75rem;
        margin: 0.5rem 0 1rem 0;
    }

    form button {
        width: 200px;
        padding: 0.75rem;
        margin: 1rem auto 0 auto;
        transition: background-color 0.3s ease;
    }

    footer {
        padding: 2rem;
        margin-top: 2rem;
    }
}